---
layout: default
---

<div id="main">

  <article class="post">
    <header>
      <div class="title">
        <h2>{{ page.title }}</h2>
      </div>
      <div class="meta">
        <time class="published" datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%B %-d, %Y" }}
        </time>
        <a class="author"><span class="name">Barry Pitts</span><img src="{{ "/images/avatar.jpg" | relative_url }}" alt="" /></a>
      </div>
    </header>

    {% if page.image %}
      <span class="image featured">
        <img src="{{ page.image | relative_url }}" alt="" />
      </span>
    {% endif %}

    <section>
      {{ content }}
    </section>

  </article>

</div>
